<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.eterm.plugins.Translation</string>
    <key>CFBundleName</key>
    <string>Translation</string>
    <key>CFBundleDisplayName</key>
    <string>Translation Plugin</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleExecutable</key>
    <string>libTranslationKit.dylib</string>
    <key>NSPrincipalClass</key>
    <string>TranslationKit.TranslationPluginLogic</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2025 ETerm. All rights reserved.</string>
</dict>
</plist>
